<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">invitation</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar wow bounceIn text-primary"></i>
                    <h3>일시</h3>
                    <p class="text-muted">2016년 9월 30일(토) </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>장소</h3>
                    <p class="text-muted">미정</p>
                </div>
            </div>
        </div>
		<hr class="primary">
		<!--div class="map" style="clear:both;overflow:hidden;width:280px;margin:20px auto -20px;border:1px solid rgba(0,0,0,.05)">
			<div id = "testMap"></div>
		</div-->
    </div>
</section>
